:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  font-family: sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}
/* *************table***************** */
.main {
  width: 100%;
  background-color: #fff8fc;
  height: 100vh;
}
table {
  width: 80%;
  margin: 0px auto;
  border-bottom: 2px solid #dddddd;
  border-top: 2px solid #ddd;
  border-collapse: collapse;
}
h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: #7242a1;
  /* text-decoration: underline; */
}

thead th {
  font-size: 1.3rem;
  font-weight: 200;
  color: #535c75;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
  letter-spacing: -0.1rem;
  line-height: 1.5rem;
}
img {
  width: 1.5rem;
  height: 1.5rem;
}
tr td {
  padding: 2rem;
  color: #3b4255;
  border-bottom: 1px solid #ddd;
}
.plus {
  opacity: 0.6;
}
.icon {
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 3px;
  width: 2rem;
  height: 2rem;
}
tbody tr td:nth-child(5),
tbody tr td:nth-child(6) {
  text-align: right;
}
.underline {
  display: inline-block;
  border-bottom: 3px solid currentColor;
  padding: 2rem 0;
}
